.detailedSettingName {
    display: inline-flex;
    flex-direction: column;
}

.detailedSettingName .name {
    color: rgba(255, 255, 255, 0.6) !important;
}

.detailedSettingName .description {
    color: #777;
    font-size: 16px;
}

.detailedSettingName .name .question {
    color: #2196f3;
    font-size: 16px;
    margin-left: 5px;
}

.detailedSettingName .name .question:hover {
    text-decoration: underline;
    cursor: pointer;
}

.raysBadge,
.raysClan {
    height: 25px;
    position: relative;
    vertical-align: middle;
}

.endTableN .raysBadge {
    margin-left: 5px;
    margin-right: 0;
}

.raysBadge {
    margin-right: 5px;
}

.raysClan {
    margin-left: 5px;
}

#clientWatermark::before {
    display: var(--watermark-display);
    content: attr(data-text);
    color: #fff;
}

#clientWatermark::after {
    display: var(--watermark-display);
    margin-left: 0.5em;
    content: attr(data-version);
    color: #fff;
}

#chatCategories .cat {
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.5s;
}

#chatCategories .cat.off {
    background-color: transparent !important;
}

#chatCategories {
    width: fit-content;
    display: flex;
    pointer-events: all;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

#chatList {
    margin-bottom: 10px;
}
