.detailedSettingName {
    display: inline-flex;
    flex-direction: column;
}

.detailedSettingName .name {
    color: rgba(255, 255, 255, 0.6) !important;
}

.detailedSettingName .description {
    color: #777;
    font-size: 16px;
}

.detailedSettingName .name .question {
    color: #2196f3;
    font-size: 16px;
    margin-left: 5px;
}

.detailedSettingName .name .question:hover {
    text-decoration: underline;
    cursor: pointer;
}

.raysBadge,
.raysClan {
    height: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.raysBadge {
    margin-right: 5px;
}

.raysClan {
    margin-left: 5px;
}

#clientWatermark::before {
    content: attr(data-text);
    color: #fff;
}

#clientWatermark::after {
    margin-left: 0.5em;
    content: attr(data-version);
    color: #fff;
}
