.detailedSettingName {
    display: inline-flex;
    flex-direction: column;
}

.detailedSettingName .name {
    color: rgba(255,255,255,.6) !important;
}

.detailedSettingName .description {
    color: #777;
    font-size: 16px;
}

.detailedSettingName .name .question {
    color: #2196f3;
    font-size: 16px;
    margin-left: 5px;
}

.detailedSettingName .name .question:hover {
    text-decoration: underline;
    cursor: pointer;
}